<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbsilac</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.jndi.url">jdbc/dbsilac</property>
    <property name="current_session_context_class">thread</property>
    <mapping resource="com/silac/model/Tblmedico.hbm.xml"/>
    <mapping resource="com/silac/model/Tblarticulo.hbm.xml"/>
    <mapping resource="com/silac/model/Tbltiposervicio.hbm.xml"/>
    <mapping resource="com/silac/model/Tblcargalaboral.hbm.xml"/>
    <mapping resource="com/silac/model/Tblempleado.hbm.xml"/>
    <mapping resource="com/silac/model/Tblclinicaexterna.hbm.xml"/>
    <mapping resource="com/silac/model/Tblusuario.hbm.xml"/>
    <mapping resource="com/silac/model/TblantecedentesDonante.hbm.xml"/>
    <mapping resource="com/silac/model/Tblorden.hbm.xml"/>
    <mapping resource="com/silac/model/TblexamenOrden.hbm.xml"/>
    <mapping resource="com/silac/model/Tblobjeto.hbm.xml"/>
    <mapping resource="com/silac/model/TblrespuestaCriterio.hbm.xml"/>
    <mapping resource="com/silac/model/Tblincidencia.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpuesto.hbm.xml"/>
    <mapping resource="com/silac/model/Tblmunicipio.hbm.xml"/>
    <mapping resource="com/silac/model/Tblcapacitacioncontinua.hbm.xml"/>
    <mapping resource="com/silac/model/Tblinstitucion.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpaciente.hbm.xml"/>
    <mapping resource="com/silac/model/Tblsalida.hbm.xml"/>
    <mapping resource="com/silac/model/Tblexcluido.hbm.xml"/>
    <mapping resource="com/silac/model/Tblsolicitudcambioturno.hbm.xml"/>
    <mapping resource="com/silac/model/Tbltiporesultado.hbm.xml"/>
    <mapping resource="com/silac/model/Tblmodalidad.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpedido.hbm.xml"/>
    <mapping resource="com/silac/model/Tblsolicitudvih.hbm.xml"/>
    <mapping resource="com/silac/model/Tblexamenarticulo.hbm.xml"/>
    <mapping resource="com/silac/model/Tbllugtrabajo.hbm.xml"/>
    <mapping resource="com/silac/model/Tbltransfusion.hbm.xml"/>
    <mapping resource="com/silac/model/TbldetalleCuestionario.hbm.xml"/>
    <mapping resource="com/silac/model/Tblcambioturno.hbm.xml"/>
    <mapping resource="com/silac/model/Tblunidadmedida.hbm.xml"/>
    <mapping resource="com/silac/model/Tblparametro.hbm.xml"/>
    <mapping resource="com/silac/model/Tblplanificaciontrabajo.hbm.xml"/>
    <mapping resource="com/silac/model/Tblentrada.hbm.xml"/>
    <mapping resource="com/silac/model/Tblespecialidad.hbm.xml"/>
    <mapping resource="com/silac/model/Tblevaluacionfisica.hbm.xml"/>
    <mapping resource="com/silac/model/Tblmovimiento.hbm.xml"/>
    <mapping resource="com/silac/model/Tblentregaresultado.hbm.xml"/>
    <mapping resource="com/silac/model/Tblseccion.hbm.xml"/>
    <mapping resource="com/silac/model/Tblbitacora.hbm.xml"/>
    <mapping resource="com/silac/model/Tblevaluaciondonante.hbm.xml"/>
    <mapping resource="com/silac/model/Tblservicio.hbm.xml"/>
    <mapping resource="com/silac/model/Tblproduccion.hbm.xml"/>
    <mapping resource="com/silac/model/Tblprivilegio.hbm.xml"/>
    <mapping resource="com/silac/model/Tblsueldoempleado.hbm.xml"/>
    <mapping resource="com/silac/model/Tblcriterio.hbm.xml"/>
    <mapping resource="com/silac/model/Tbldomicilio.hbm.xml"/>
    <mapping resource="com/silac/model/Tbldonante.hbm.xml"/>
    <mapping resource="com/silac/model/TblempleadoCapacitacion.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpuestoempleado.hbm.xml"/>
    <mapping resource="com/silac/model/Tblexamen.hbm.xml"/>
    <mapping resource="com/silac/model/Tblresultado.hbm.xml"/>
    <mapping resource="com/silac/model/Tbldepartamento.hbm.xml"/>
    <mapping resource="com/silac/model/Tblcatalogo.hbm.xml"/>
    <mapping resource="com/silac/model/Tblrol.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpagina.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpermiso.hbm.xml"/>
    <mapping resource="com/silac/model/Tbllaboratorio.hbm.xml"/>
    <mapping resource="com/silac/model/Tbljefe.hbm.xml"/>
    <mapping resource="com/silac/model/Tbldirector.hbm.xml"/>
    <mapping resource="com/silac/model/Tblprocedenciaarticulo.hbm.xml"/>
    <mapping resource="com/silac/model/Tblpersona.hbm.xml"/>
    <mapping resource="com/silac/model/TblrespuestaCuestionario.hbm.xml"/>
    <mapping resource="com/silac/model/Tbldetallepedido.hbm.xml"/>
    <mapping resource="com/silac/model/TblcuestionarioEvaluacion.hbm.xml"/>
    <mapping resource="com/silac/model/Tblestablecimiento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
